[submodule "t_deps/modules/tests-web"]
	path = t_deps/modules/tests-web
	url = git://github.com/wakaba/tests-web.git
[submodule "t_deps/modules/json-functions-xs"]
	path = t_deps/modules/json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
[submodule "t_deps/modules/test-x1"]
	path = t_deps/modules/test-x1
	url = git://github.com/wakaba/perl-test-x1
